<!-- content heading -->
<% if (title) { %>
    <div id="details-heading">
        <h1><%= data.inv_year %> <%= data.inv_make %> <%= data.inv_model %></h1>
    </div>
    <% } else {
        res.redirect('/')
    } %>
    
    <!-- message block -->
<% if (message) { %>
<p class="notice"><%= message %></p>}
<% } %>

<div id="vehicle-details">
<!-- display vehicle inventory image -->
    <img src="<%=data.inv_image%>">

    <section id="vehicle-inv-details">
        <h2><%=data.inv_make %> <%= data.inv_model %></h2>
        <h3>Price $<%= new Intl.NumberFormat('en-US').format(data.inv_price)%></h3>
        <h4 class="description">Description: <%= data.inv_description %></h4>
        <h3>Color: <%=data.inv_color%></h3>
        <h3>Miles: <%= new Intl.NumberFormat('en-US').format(data.inv_miles)%></h3>
    </section>
</div>

        
    
    
    
    
    
    
    
    
    
    
    
    
    
    