<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      
    } %>


<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<h2> You're Logged In </h2>

<% if(locals.clientData.client_type == 'Admin' || locals.clientData.client_type == 'Employee') { %>
    <h2> Welcome <%= locals.clientData.client_firstname %> </h2>
    <h3>Client type: <%= locals.clientData.client_type %> </h3>
    <h3> Inventory Management </h3>
    <span class="management-view"><a href='/inv/'>Inventory Management></a></span>
<% } else { %>
    <h1> Welcome <%= locals.clientData.client_firstname %> </h1>
<% } %>
    
 
